/* bills.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('bis.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

.container p {
    margin: 5px 0;
}


/* Customize other styles as needed */